<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>completed words</title>
    <link rel="stylesheet" href="styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
  </head>
  <script >

  // function validateForm() {
  //   let word = document.forms["editRoot"]["givenWord"].value;
  //   let root = document.forms["editRoot"]["rootWord"].value;
  //
  //   // let inf = document.forms["editRoot"]["inflection"].value;
  //   // console.log(root);
  //   // console.log(word);
  //   // let li=inf.length;
  //   let lw=word.length;
  //   if (word.includes(root)==false||root[0]!=word[0]) {  //
  //     alert("Invalid Root.Your Root contains illegal character");
  //     return false;
  //   }
  //   // else if(inf.length==0 && word==root){
  //   //   return true;
  //   // }
  //   // else if (word.includes(inf)==false || inf[li-1]!=word[lw-1]) {
  //   //   alert("Invalid Inflection.Your inflection contains illegal character");
  //   //   return false;
  //   // }
  //
  //   return true;
  // };


  function showDetails(word){

    //alert("inshaAllah we will correct your word soon. ");
    // let s = "Id = " + button.getAttribute('data-id') + "\r\n";
    var no = word.getAttribute("data-serialno");
  //  alert("The serial number is : " + no);
  //  console.log('the serial number is '+no);
  //  let element = document.getElementsByName("serialNo");
    const serial = document.getElementById("modal-edit-serial-no");
    serial.setAttribute("value",no);

    var wd=word.getAttribute("data-word");
    const sobdo = document.getElementById("modal-edit-given-word");
    sobdo.setAttribute("value",wd);

    // var rt=word.getAttribute("data-root");
    // const muul = document.getElementById("modal-edit-root-word");
    // muul.setAttribute("value",rt);

    var newRoot=word.getAttribute("data-newroot");
    const notuun =document.getElementById("modal-edit-new-root");
    notuun.setAttribute("value",wd);


    var previousRoot=word.getAttribute("data-root");
    const puran =document.getElementById("modal-edit-previous-root");
    puran.setAttribute("value",previousRoot);



    // var inf=word.getAttribute("data-inflection");
    // if(inf==	"type='button'"){
    //   inf="";
    // }
    // const bivokti = document.getElementById("modal-edit-inflection");
    // bivokti.setAttribute("value",inf);


  }

  </script>
  <body>
    <div class="wrapper">


      <div class="section">
        <div class="header headerTwo">
          <%let a='My Words';if(who=='admin_101'){a='Admin Panel';}%>
          <h1 class="index-head"><%=a%></h1>
          <form class="" action="/logout" method="post">
            <button type="submit" class="admin-btn">
              Log out
            </button>
          </form>
        </div>
        <div class="admin-main">
          <!-- <div class="admin-query">
            <form class="" action="/query" method="post">
              <p style="text-align: center">
                Please enter the serial of the words you would like to see :
              </p>
              <div class="admin-query-input">
                <input name="lowerLimit" class="num-one" type="number" />
                <p>-</p>
                <input name="upperLimit" class="num-two" type="number" />
              </div>
              <div class="enter-btn">
                <button class="enter-btn-button">Enter</button>
              </div>
            </form>
          </div> -->
          <h5 style="margin: 10px auto 42px auto; text-align: center">
            Here are the last garbaged words:
          </h5>

          <table id="customers" class="customers">
            <tr>
              <th style="text-align: center">Serial No.</th>
              <th style="text-align: center">Given Word</th>
              <th style="text-align: center">Root Word</th>
              <th style="text-align: center">Inflection</th>
              <th style="text-align: center">Username</th>
              <th style="text-align: center">Time</th>
              <th style="text-align: center">Date</th>
              <th style="text-align: center">Edit</th>
            </tr>
            <tr>
              <%let start=0,end=100,flag=0%>
            <% sobdo.reverse().forEach(function(item){ %>
            <% if(flag==0){ start=item.serialNumber; flag=1}%>
            <% end=item.serialNumber%>


            <% let tm=parseInt(item.time.getHours())+" : "+parseInt(item.time.getMinutes())%>
            <% let date=item.time.getDate() + "-" + (parseInt( item.time.getMonth() )+parseInt('1'))+ "-" +item.time.getFullYear()%>


              <tr>
                  <td><%=item.serialNumber%></td>
                  <td><%=item.word%></td>
                  <td><%=item.rootWord%></td>
                  <td><%=item.inflection%></td>
                  <td><%=item.usernam%></td>
                  <td><%=tm%></td>
                  <td><%=date%></td>


                  <td>
                    <button
                      id=<%="id-"+item.serialNumber%>
                      data-serialno=<%=item.serialNumber%>
                      data-word=<%=item.word%>
                      data-root=<%=item.rootWord%>
                      data-inflection=<%=item.inflection%>
                      data-previousroot=<%=item.rootWord%>
                      data-newroot=<%=item.word%>
                      type='button'
                      class="edit-btn"
                      data-toggle="modal"
                      data-target="#editModal"
                      onclick="showDetails(this);"
                    >
                      Edit
                    </button>
                  </td>
            </tr>
            <%});%>

          </table>
        </div>
        <div
          class="modal"
          id="editModal"
          tabindex="-1"
          aria-labelledby="editModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Edit Word Info</h5>
                <a href="#" id='xbutton' class="close" data-dismiss="modal" aria-label="close">
                  <!-- &times; -->
                  <button
                 type="button"
                 class="btn-close"
                 data-bs-dismiss="modal"
                 aria-label="Close"
                 ></button>
                </a>
              </div>
              <form
                id="editRoot"
                name="editRoot"
                action="/edit"
                method="post"

              >
              <div class="modal-body">

                  <input type="hidden" name="post_type" value="edit" />
                    <input type="hidden" name="pagename" value=<%=page%> >
                  <div class="mb-3">
                    <label for="modal-edit-serial-no" class="form-label"
                      >Serial No.</label
                    >

                    <input
                      type="text"
                      class="form-control"
                      id="modal-edit-serial-no"
                      name="serialNo"
                      value="1"
                      readonly
                    />
                  </div>
                  <div class="mb-3">
                    <label for="modal-edit-given-word" class="form-label"
                      >Given Word</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="modal-edit-given-word"
                      name="givenWord"
                      value="বাংলাদেশের"
                      readonly
                    />
                  </div>
                  <div class="mb-3">
                    <label for="modal-edit-previous-root" class="form-label"
                      >Previous Root</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="modal-edit-previous-root"
                      name="previousRoot"
                      value="বাংলাদেশ"
                      readonly
                    />
                  </div>

                  <div class="mb-3">
                    <label for="modal-edit-new-root" class="form-label"
                      >New Root (<i>cut down from the last</i>)</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="newRoot"
                      id="modal-edit-new-root"
                      value="বাংলাদেশের"

                    />
                    <input type="hidden" name="start" value=<%=start%>>
                    <input type="hidden" name="end" value=<%=end%>>
                  </div>

                  <!-- <div class="mb-3">
                    <label for="modal-edit-root-word" class="form-label"
                      >New Root (<i>cut down from the last</i>)</label
                    >
                    <input
                      class="form-control"
                      name="rootWord"
                      id="modal-edit-root-word"
                      value="বাংলাদেশ"
                    />
                    <input type="hidden" name="start" value=<%=start%>>
                    <input type="hidden" name="end" value=<%=end%>>
                  </div> -->



                  <!-- <div class="mb-3">
                    <label for="modal-edit-inflection" class="form-label"
                      >Inflection</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="inflection"
                      id="modal-edit-inflection"
                      value="র"
                    />
                  </div> -->

                  <!-- <button type="submit" class="btn btn-primary">Submit</button> -->

              </div>
              <div class="modal-footer">
                <a href="#" class="close" data-dismiss="modal" aria-label="close">
                    <button
                      id="close-btn"
                      type='button'
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Close
                    </button>
                </a>
                <button
                  type="submit"
                  name="formSubmit"
                  form="editRoot"
                  class="btn btn-primary"

                >
                  Save changes
                </button>
              </div>
              </form>
            </div>
          </div>
        </div>
        <div class="sidebar">
          <p class="copy-right-p">COPYRIGHT © SUST CSE &nbsp2018-19</p>
          <h2 class="menu">Menu</h2>
          <ul class="ulStyle">
            <li>
              <a href="/admin">
                <span class="item">Identified roots</span>
              </a>
            </li>
            <li>
              <a href="/skipped-words">
                <span class="item">Skipped Words</span>
              </a>
            </li>
            <li  class="hoverItem">
              <a href="/garbage-words">
                <span class="item">Garbage Words</span>
              </a>
            </li>
            <li>
              <a href="/stat">
                <span class="item">User Stats</span>
              </a>
            </li>
            <li>
              <a href="/register">
                <span class="item">Assign New User</span>
              </a>
            </li>
            <li>
              <a href="/activeDeactive">
                <span class="item">Activate/Deactivate User</span>
              </a>
            </li>
            <li>
              <a href="/data-stat">
                <span class="item">Data Statistics</span>
              </a>
            </li>
          </ul>
          </div>

    </div>
      <div class="copy-right">
        <p class="copy-right-p">COPYRIGHT © SUST CSE &nbsp2018-19</p>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
      integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
      integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
<script>
document.getElementById('editRoot').addEventListener('submit', function(evt){

    // document.getElementById('donate').style.display = 'none';
    // document.getElementById('topMessage').style.display = 'none';
    let word = document.forms["editRoot"]["givenWord"].value;
    let newRoot = document.forms["editRoot"]["newRoot"].value;
    let lw=word.length;
    if (word.includes(newRoot)==false||newRoot[0]!=word[0]) {  //
      alert("Invalid Root. Your Root contains illegal character");
      //  evt.preventDefault();
        return false;
    }
     else{
       // alert("Root is being updated");
         return true;
     }

});//

document.getElementById('close-btn').addEventListener('click', function(evt){
  document.getElementById("editRoot").reset();
  return true;
});
document.getElementById('xbutton').addEventListener('click', function(evt){
  document.getElementById("editRoot").reset();
  return true;
});

</script>
