<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Profile</title>
    <link rel="stylesheet" href="styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" />
  </head>
  <body>
    <div class="section">
      <!-- header section -->
      <div class="header headerTwo">
        <h1 class="index-head"><%=myself.username%></h1>
        <form class="" action="/logout" method="post">
          <button class="admin-btn" type="submit">Log out</button>
        </form>
      </div>
      <!-- log in section -->
      <div class="log-in">
        <h3 class="log-in-brief">User Information</h3>
        <div class="log-in-box">
          <%let det=myself.createdOn.getDate() + "-" + (parseInt( myself.createdOn.getMonth() )+parseInt('1'))+ "-" +myself.createdOn.getFullYear()%>
          <p class="user_info">Name :<h3 style="margin-bottom: 32px;"> <%=myself.username%></h3></p>
          <p class="user_info">Email :<h3 style="margin-bottom: 32px;" class="user_head"> <%=myself.email%></h3></p>
          <p class="user_info">No. of words processed :<h3 style="margin-bottom: 32px;" class="user_head"> <%=cnt%></h3></p>
          <p class="user_info">Date joined :<h3 style="margin-bottom: 32px;" class="user_head"> <%=det%></h3></p>
          <!-- <p class="user_info"><h3 style="margin-bottom: 32px;" class="user_head"><a href="/my-words">My words</a></h3></p> -->
          <button onclick="location.href = '/my-words';" class="words-btn">My Words</button>
          <button onclick="location.href = '/my-stat';" class="stats-btn">My Stats</button>
        </div>
      </div>
      <!-- copyright section -->
      <div class="copy-right">
        <p class="copy-right-p">COPYRIGHT © SUST CSE &nbsp2018-19</p>
      </div>
    </div>
  </body>
</html>
